body { margin:0; background:#121212; color:white; font-family:Arial, sans-serif; }
.top { padding:15px; background:black; position:sticky; top:0; }
.top h1 { color:#1db954; font-size:22px; }
.top input { width:100%; padding:10px; border-radius:20px; border:none; margin-top:10px; }


#list { padding-bottom:90px; }


.track { display:flex; align-items:center; padding:12px; border-bottom:1px solid #222; }
.track img { width:50px; height:50px; border-radius:6px; margin-right:12px; }
.track span { color:#b3b3b3; font-size:14px; }
.track:hover { background:#1db954; color:black; }


.player { position:fixed; bottom:0; width:100%; background:#181818; display:flex; flex-direction:column; padding:8px; }
.player .topline { display:flex; align-items:center; }
.player img { width:55px; height:55px; border-radius:6px; margin-right:10px; }
.player .info { flex:1; }
.controls { display:flex; justify-content:center; margin-top:5px; }
.progress {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
}

input[type=range] {
  flex: 1;
  height: 3px;
}

.player img { width:55px; height:55px; border-radius:6px; margin-right:10px; }
.player .info { flex:1; }
.player .controls button { background:none; border:none; color:white; font-size:20px; margin:0 5px; }
.player .controls button:hover { color:#1db954; }
           
