body { margin:0; background:#121212; color:white; font-family:Arial, sans-serif; }
.top { padding:15px; background:black; position:sticky; top:0; }
.top h1 { color:#1db954; font-size:22px; }
.top input { width:100%; padding:10px; border-radius:20px; border:none; margin-top:10px; }


#list { padding-bottom:90px; }


.track { display:flex; align-items:center; padding:12px; border-bottom:1px solid #222; }
.track img { width:50px; height:50px; border-radius:6px; margin-right:12px; }
.track span { color:#b3b3b3; font-size:14px; }
.track:hover { background:#1db954; color:black; }


.player { position:fixed; bottom:0; width:100%; background:#181818; display:flex; flex-direction:column; padding:8px; }
.player .topline { display:flex; align-items:center; }
.player img { width:55px; height:55px; border-radius:6px; margin-right:10px; }
.player .info { flex:1; }
.controls { display:flex; justify-content:center; margin-top:5px; }
.progress {
display: flex;
align-items: center;
gap: 6px;
font-size: 12px;
}


/* trilha da barra */
input[type=range] {
-webkit-appearance: none;
appearance: none;
flex: 1;
height: 3px;
background: #555;
border-radius: 5px;
outline: none;
}


/* parte preenchida (Chrome / Android) */
input[type=range]::-webkit-slider-runnable-track {
height: 3px;
background: #555;
border-radius: 5px;
}


/* bolinha */
input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 10px;
height: 10px;
background: #1db954;
border-radius: 50%;
margin-top: -3.5px;
}


/* Firefox */
input[type=range]::-moz-range-track {
height: 3px;
background: #555;
}


input[type=range]::-moz-range-thumb {
width: 10px;
height: 10px;
background: #1db954;
border-radius: 50%;
}
.player img { width:55px; height:55px; border-radius:6px; margin-right:10px; }
.player .info { flex:1; }
.player .controls button { background:none; border:none; color:white; font-size:20px; margin:0 5px; }
.player .controls button:hover { color:#1db954; }
           
